.container {
  max-width: 600px;
  margin: 50px auto;
  font-family: "Titillium Web", sans-serif;
  color: #010038;
}

.weather-app {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border: 1px solid #537ec5;
  border-radius: 5px;
  padding: 30px;
}

form {
  margin-bottom: 5px;
}

h1 {
  font-size: 22px;
  font-weight: 600;
}

h2 {
  font-size: 18px;
  font-weight: 100;
}

.time {
  font-size: 16px;
  font-weight: 500;
}

.weather {
  display: block;
  text-align: center;
}

.weather img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.weather-description {
  display: block;
  font-size: 14px;
  font-weight: 100;
  line-height: 1;
  margin: 0px auto;
}

.min-max-temp {
  display: block;
  margin: 5px auto 0;
  font-size: 16px;
  font-weight: 500;
}

.weather-container {
  display: block;
  margin: 0px auto;
}

.temperature {
  font-size: 50px;
  font-weight: 500;
}

.units {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  top: -22px;
  margin-left: 5px;
}

.units a {
  color: #293a80;
}

.units a:hover {
  color: #f39422;
  text-decoration: none;
  font-weight: 900;
}

.units .active {
  color: #010038;
  font-weight: 900;
}

.units .active:hover {
  color: #010038;
  font-weight: 900;
  cursor: default;
}

.weather-details {
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: 100;
}

.weather-details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.code a {
  color: #537ec5;
}

.code a:hover {
  color: #f39422;
}
